In [3]:
import sys
sys.executable

'C:\\Python311\\python.exe'

In [ ]:
import pandas as pd

df = pd.read_csv("customer_shopping_behavior.csv")

import os
os.getcwd()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()
#describe() always gives data for numerical columns alone by default

In [ ]:
#To get statistics of categorical columns (non-numerical) you must use:

df.describe(include='all')

In [ ]:
df.isnull().sum()

In [ ]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))
# Groups review rating by category and then fills them with the median of that category

In [ ]:
df.isnull().sum()

In [ ]:
#Convert all names to snake case for easy access in SQL and Python (Lowercase + underscores in-between)

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [8]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'}) #rename the column to remove the () part

df.columns

In [ ]:
# Create a column 'age_group'
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels) #Sorts, Divides age by 4 quantiles and matches with labels

In [ ]:
df[['age','age_group']].head(10) #first 10 rows

In [ ]:
# Create column - purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Annually': 365,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Monthly': 30,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [ ]:
df[['frequency_of_purchases', 'purchase_frequency_days']].head(10)

In [ ]:
df[['discount_applied','promo_code_used']].head(10)

In [ ]:
(df['discount_applied'] == df['promo_code_used']).all() # Checking if all values of these 2 columns are same or not

In [ ]:
#Since, both columns have the same values - promo_code_used column can be dropped

df = df.drop('promo_code_used', axis=1) # axis=1 means it is a column, axis=0 means row
df.columns # check columns again to see promo_code_used removed

In [ ]:
pip install psycopg2-binary sqlalchemy

In [ ]:
from sqlalchemy import create_engine

#Step 1 - Connect to PostgreSQL

username="postgres"
password="Preepostgressql28#"
host="localhost"
port="5433"
database="customer_behavior_db"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2 - Load dataframe into PostgreSQL

table_name="customer"
df.to_sql(table_name, engine, if_exists= "replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")